{
  "Catalogs": {
    "Directory": "Z:\\" // директория в которой храняться файлы - источники данных  
  },
  "WialonListen": {
    "Host": "0.0.0.0",//ip с которого принимать в случае 0.0.0.0 - принимать со всех
    "Port": 20332     //port на который ретранслирует wialon сигнал
  },
  "Yandex": {
    "Clid": "", // Идентификатор участника программы.
    "Host": "http://extjams.maps.yandex.net/mtr_collect/1.x/", //yandex end point 
    "Interval": 5
  }
}
